<!DOCTYPE html>
<html lang="en">

  <!-- head EJS -->
  <%- include('parcial/head.ejs') %>

    <body>

        <!-- header EJS -->
        <%- include('parcial/header.ejs') %>
        <%=  %>

            <main class="main">
                <article class="productImageLG">
                    <h1 class="titulo-producto"><%= product.name %></h1>
                    <div><img src="<%= product.image %>" alt="tabla flip Amarilla"
                            class="foto-producto"></div>
                </article>
                <section class="opciones">
                    <div class="arrow"><i class="fas fa-angle-left"></i></div>
                    <div>
                        <img src="<%= product.image %>" alt="tabla flip Amarilla"
                            class="imagenes-de-opcion">
                        <img src="<%= product.image %>" alt="tabla flip Amarilla"
                            class="imagenes-de-opcion">
                    </div>
                    <div class="arrow"><i class="fas fa-angle-right"></i></div>
                </section>
                <section class="info-product">
                    <div>
                        <div>
                            <p class="precio">$ <%= product.price %> </p>
                        </div>
                    </div>
                    <div class="bullets">
                        <p class="bullet-product"></p>
                        <p class="bullet-product1"></p>
                        <p class="bullet-product2"></p>
                        <p class="bullet-product3"></p>
                    </div>
                    <form action="/cantidad" method="POST" class="formulario">
                        <label for="cantidad"></label>
                        <input class="qty-cart" type="number" id="cantidad" name="cantidad" min="1" max="10000" />
                        <div class="masmenos">
                            <button type="button">+</button>
                            <button type="button">-</button>
                        </div>
                        <div><button type="submit" class="comprar">COMPRAR</button></div>
                    </form>
                    <p class="breve-descripcion">Descripción</p>
                    <div class="descripcion">
                        <ul>
                            <%= product.description %>
                        </ul>
                    </div>
                </section>
            </main>

       <!-- footer EJS-->
       <%- include('parcial/footer.ejs') %>


    </body>

</html>