<!DOCTYPE html>
<html lang="en">

<!-- head EJS -->
<%- include('parcial/head.ejs') %>

    <body>

        <!-- header EJS -->
        <%- include('parcial/header.ejs') %>
        
                <main class="main">
                    <article class="productImageLG">
                        <section class="opciones">

                            <div class="nf-tittle"><img src="/img/productos/<%= product.image %>" alt="imagen tabla skate"
                                    class="foto-producto">
                            </div>
                            <div class="img-product-assets">
                                <span class="arrow"><i class="fas fa-angle-left"></i>
                                </span>
                                <img src="/img/productos/<%= product.image %>" alt="imagen tabla skate"
                                    class="imagenes-de-opcion">
                                <img src="/img/productos/<%= product.image %>" alt="imagen tabla skate"
                                    class="imagenes-de-opcion">
                                <span class="arrow"><i class="fas fa-angle-right"></i>
                                </span>
                            </div>
                        </section>
                        <section class="info-product">
                            <div class="">
                                <p><%=product.categories.name%></p>
                            </div>
                            <h1 class="titulo-producto">
                                <%= product.name %>
                            </h1>
                            <div>
                                <div>
                                    <p class="price">$ <%= product.price %>
                                    </p>
                                </div>
                            </div>
                            <form action="/cantidad" method="POST" class="formulario">
                                <label for="cantidad"></label>
                                <input class="qty-cart" type="number" id="cantidad" name="cantidad" min="1" max="10000" />
                                <div class="masmenos">
                                    <button type="button">+</button>
                                    <button type="button">-</button>
                                </div>
                                <div>
                                    <button type="submit" class="product-buy">COMPRAR</button>
                                </div>
                            </form>
                            <a class="product-edit-delete" href="/products/edit/<%= product.id %>">EDITAR</a>
                            <form action="/products/delete/<%= product.id %>" method="POST"
                                style="display: inline-flex">
                                <button class="product-edit-delete" type="submit">ELIMINAR</button>
                            </form>
                            <div class="descripcion">
                                <p class="breve-descripcion">Descripción</p>
                                <ul>
                                    <%= product.description %>
                                </ul>
                            </div>
                        </section>
                    </article>
                </main>

                <!-- footer EJS-->
                <%- include('parcial/footer.ejs') %>


    </body>

</html>