<!DOCTYPE html>
<html lang="es">
<!-- head EJS -->
<%- include('parcial/head.ejs') %>

  <body class="register-body">
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>

      <div class="mainProductos">
       <% products.forEach(producto=>{ %>
          <div class="product-list-box">
            
              <h2>
                <%= producto.name %>
              </h2>
              <a href="/products/<%= producto.id %>/detail">
              <div>
                <img class="productImg" src="/img/productos/<%= producto.image %>" alt="imagen de producto">
              </div>
            </a>
              <article>
                <p class="precio">$<%= producto.price %>
                </p>
                <p class="product-description">
                  <%= producto.description %>
                </p>
              </article>
              </a>
          </div>
        
<% }) %>
        

      </div>


      
      <!-- footer EJS-->
      <%- include('parcial/footer.ejs') %>
  </body>

</html>