<!DOCTYPE html>
<html lang="en">
      <!-- head EJS -->
      <%- include('parcial/head.ejs') %>
<body>
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>

    <ul class="errores">
    </ul>

    <%console.log(product)%>
    <form id="form" action="/products/edit/<%=product.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <div class="product-form">
            <div>
				<h2 class="product-form-title">Estás editando: <%= product.name %> </h2>
			</div>
        <div>
            <label for="name" class="form-label">Nombre del producto</label>
            <input type="text" id="name" name="name" class="form-input" value="<%= product.name %>">
            <% if(locals.errors && errors.name) { %>
                <p style="color: red;text-align: center;">
                <%= errors.name.msg %></p>
                  <% } %>
                    <br />
        </div>
        <div>
            <label for="price" class="form-label">Precio</label>
            <input type="number" id="price" name="price" class="form-input" value="<%= product.price %>">
            <% if(locals.errors && errors.price) { %>
                <p style="color: red;text-align: center;">
                <%= errors.price.msg %></p>
                  <% } %>
                    <br />
        </div>
        <div>
            <label for="name" class="form-label">Categoría</label>
            <select name="category_id" id="category" required  class="form-input">
                <% allCategories.forEach(category => { %>
                <option value="<%=category.id %>" <% if(product.category_id == category.id) { %><%= 'selected' %><% }; %>><%= category.name %></option>
                <% }); %>
            </select>
            <% if(locals.errors && errors.category_id) { %>
                <p style="color: red;text-align: center;">   
                <%= errors.category_id.msg %></p>
                      <% } %>
        </div>


        <div>
            <label for="description" class="form-label">Descripción del producto</label>
            <textarea type="text" id="description" name="description" class="form-input-description"><%= product.description %></textarea>
            
            <!-- Aca la validacion no pasa, por mas que el formulario se envie correctamente -->
            <% if(locals.errors && errors.description) { %>
                <p style="color: red;text-align: center;">
                <%= errors.description.msg %></p>
                  <% } %>
        </div>
        <div>
            <div>
            <label for="image" class="form-label">Imagen del producto</label>
            </div>
            <div class="nf-tittle">
            <img src="/img/productos/<%=product.image %>" class="imagenes-de-opcion" alt="productImage">
            </div>
            <input type="file" id="image" name="productImage" value="<%= product.image %>">
            <% if(locals.errors && errors.productImage) { %>
                <p style="color: red;text-align: center;">
                <%= errors.productImage.msg %></p>
                  <% } %>
        </div>
        <div class="button-edit-form">
            <button type="submit" class="button-save-product">Guardar producto</button>
        </div>
    </div>
</form>


  <!-- footer EJS -->
  <%- include('parcial/footer.ejs') %>

<!--   <script src="/js/productFrontValidations.js"></script> -->

</body>
</html>