<!DOCTYPE html>
<html lang="en">
<!-- head EJS -->
<%- include('parcial/head.ejs') %>

  <body class="register-body">
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>
      <ul class="errores"></ul>
      <main>
        
        <div class="register-form">
          <form id= "formRegister" class="formatForm-register" action="/users/register" enctype="multipart/form-data" method="POST">
            <div class="title-register">
              <p>Crea tu propia cuenta</p>
            </div>
            <div>
              <label for="fullName">Nombre y Apellido</label>
              <input class="register-input" type="text" name="fullName" id="name" placeholder="Escribe tu nombre" />
              <% if(locals.errors && errors.fullName) { %>
                <p style="color: red;font-size: 16px ;text-align: center;"> 
                <%= errors.fullName.msg %>
                </p>
                  <% } %>
                    <br />
            </div>

            <div>
              <label for="email">Mail</label>
              <input class="register-input" type="email" name="email" id="email" placeholder="Ej. usuario@mail.com" />
              <% if(locals.errors && errors.email) { %>
                <p style="color: red;font-size: 16px ;text-align: center;"> 
                <%= errors.email.msg %>
                </p>
                  <% } %>
                    <br />
            </div>
            <div>
              <label for="">Perfil de usuario</label>
              <select class="register-input" name="category" id="categories">
                <option value="" disabled selected>Selecciona tu tipo de perfil</option>
                <option value="admin">Admin</option>
                <option value="visitor">Visitante</option>
              </select>
              <% if(locals.errors && errors.category) { %>
                <p style="color: red;font-size: 16px ;text-align: center;"> 
                <%= errors.category.msg %>
                </p>
                  <% } %>
            </div>
            <br>
            <div>
              <label for="password">Crear Contraseña</label>
              <input class="register-input" type="password" name="password" id="password" />
              <% if(locals.errors && errors.password) { %>
                <p style="color: red;font-size: 16px ;text-align: center;"> 
                <%= errors.password.msg %>
                </p>
                  <% } %>
            </div>
            <br>
            <div>
              <label for="perfil-img">
                <p>Selecciona una foto de perfil:</p>
              </label>
              <input id= "image" type="file" name="image">
              <% if(locals.image && errors.image) { %>
                <p style="color: red;font-size: 16px ;text-align: center;"> 
                <%= errors.image.msg %>
                </p>
                  <% } %>
            </div>
            <br />

            <button class="button-register" type="submit" value="REGISTRARSE">Registrarse</button>
            <button class="button-register" type="reset" value="BORRAR">Borrar</button>
            <div class="register-privacity">
              <p>Al crear una cuenta, acepta nuestros Términos y privacidad .</p>
            </div>
            <br>
            <a href="/" class="" style="margin: auto;">
              <span class="span-register">Volver a la página principal</span>
            </a>
          </form>
        </div>
      </main>

      <!-- footer EJS-->
      <%- include('parcial/footer.ejs') %>

      <script src="/js/registerValidation.js"></script>
  </body>

</html>