<!DOCTYPE html>
<html lang="en">
<!-- head EJS -->
<%- include('parcial/head.ejs') %>
<body class="">
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>

<body>
    <section class="user-info">
        <h1 class="userName-title">
            Hola <%= user.fullName %>
        </h1>
        <div>
            <img src="/img/users/<%= user.image %>" alt="foto del usuario" class="user_imgProfile">

            <p class="user-data"><%= user.email %></p>

            <p class="user-data"><%= user.category %></p>
        </div>
    </section>
</body>

</html>