<!DOCTYPE html>
<html lang="en">
<!-- head EJS -->
<%- include('parcial/head.ejs') %>
<body class="">
    <!-- header EJS -->
    <%- include('parcial/header.ejs') %>

<body>
    <section class="user-info">
        <h1 class="userName-title">
            Hola
             <%= locals.userLogged.fullName %>
        </h1>
        <div>
            <img src="/img/users/<%= locals.userLogged.image %>" alt="foto del usuario" class="user_imgProfile">

            <p class="user-data"><%= locals.userLogged.email %></p>
         <%console.log(locals.userLogged)%>
            <p class="user-data"><%= locals.userLogged.userCategory.name%></p>
        </div>
        <div>
            <a href="/users/profile/edit">Editar perfil</a>
        </div>
    </section>
</body>

</html>